<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>caraccident-web</display-name>
	<resource-ref>
		<res-ref-name>jdbc/DefaultDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
	</resource-ref>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ODataServlet</servlet-name>
		<servlet-class>org.apache.cxf.jaxrs.servlet.CXFNonSpringJaxrsServlet</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>org.apache.olingo.odata2.core.rest.app.ODataApplication</param-value>
		</init-param>
		<init-param>
			<param-name>org.apache.olingo.odata2.service.factory</param-name>
			<param-value>com.sap.hana.cloud.odata.service.PersonsListServiceFactory</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
		
	</servlet>
	<servlet>
		<servlet-name>getUserServlet</servlet-name>
		<servlet-class>com.sap.hana.cloud.odata.service.getUserServlet</servlet-class>
		
		
	</servlet>

	<servlet-mapping>
		<servlet-name>ODataServlet</servlet-name>
		<url-pattern>/employeelist.svc/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getUserServlet</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	<login-config>
              <auth-method>FORM</auth-method>
       </login-config>
       <security-constraint>
              <web-resource-collection>
                     <web-resource-name>Protected Area</web-resource-name>
                     <url-pattern>/user</url-pattern>
                     <url-pattern>/index.jsp</url-pattern>
                     <url-pattern>/a2asso.jsp</url-pattern>
              </web-resource-collection>
              <auth-constraint>
                     <!-- Role Everyone will not be assignable -->
                     <role-name>Everyone</role-name>
              </auth-constraint>
       </security-constraint>
       <security-role>
              <description>All SAP HANA Cloud Platform users</description>
              <role-name>Everyone</role-name>
       </security-role>

</web-app>